<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-dashboard" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Throne of lies Stats</span>
    </div>
    <div class="collapse navbar-collapse" id="navbar-dashboard">
        <ul class="nav navbar-nav">
            {% if app.user %}
                <li class="first"><a href="{{ path("player_stats", {'username': app.user.username}) }}">
                        My stats
                    </a>
                </li>
            {% endif %}
            <li><a href="{{ path("global_stats")}}">
                    Global stats
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li class="first"><a href="/logout">Logout</a></li>
            {% else %}
                <li class="first"><a href="/login">Login</a></li>
                <li class="first"><a href="/register">Register</a></li>
            {% endif %}
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                <li class="first"><a href="/admin">Admin</a></li>
            {% endif %}
        </ul>
        <form class="navbar-form navbar-right" role="search" method="POST" action="{{ path("search_user_stats")}}">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="username">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>